:root {
  --background-color: #f7f7f4;
  --section-background-color: #f2f1ed;
  --link-text: #f54e00;
  --link-text-hover: #f77133;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #f7f7f4; */
  background-color: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  position: fixed;
  background-color: var(--background-color);
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 110px;
  z-index: 10;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 1px;
}

.nav-left h2 {
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
}

nav .links {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 30px;
}

nav .links a {
  font-size: 14px;
  cursor: pointer;
  color: #302f2f;
  text-decoration: none;
}

nav .links a:hover {
  color: #7f7979;
}

nav .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

nav .buttons button {
  gap: 10px;
  padding: 5px 10px;
  border: 1px solid;
  border-radius: 16px;
  text-align: center;
  font-weight: 400;
  cursor: pointer;
  border-color: #bbb4b4;
}

nav .buttons .sign-in {
  border-color: #d6d3d3;
}

nav .buttons button:hover {
  background-color: #5b5555;
}

nav .buttons .sign-in:hover {
  background-color: #d6d3d3;
}

nav .buttons .download {
  background-color: #3f3b3b;
  color: #fcfbfb;
}

main {
  display: flex;
  flex-direction: column;
  gap: 70px;
  margin-top: 100px;
  padding: 0 50px;
  width: 100%;
  padding: 10px 110px;
}

main p {
  font-size: 30px;
  width: 45%;
  font-weight: 500;
}

main .first-section button {
  padding: 15px 30px;
  margin-top: 22px;
  border: none;
  border-radius: 50px;
  background-color: #302f2f;
  color: #fcfbfb;
}

main button {
  padding: 10px 20px;
  margin-top: 22px;
  border: none;
  border-radius: 50px;
  background-color: #302f2f;
  color: #fcfbfb;
}

main .first-image img {
  border-radius: 5px;
}

main .software-name p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 15px;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

main .software-name div {
  display: flex;
  justify-content: center;
  gap: 10px;
}

main .software-name div .images {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d6d3d3;
  border-radius: 3px;
  padding: 35px 47px;
}

main .agents-turn-ideas-into-code,
.magically-accurate-autocomplete,
.in-every-tool-at-every-step {
  display: flex;
  align-items: center;
  gap: 40px;
  background-color: var(--section-background-color);
  border-radius: 7px;
  padding: 20px;
}
main .agents-turn-ideas-into-code p,
main .magically-accurate-autocomplete p,
main .in-every-tool-at-every-step p {
  width: 100%;
  font-size: 24px;
}

main .agents-turn-ideas-into-code .link,
main .magically-accurate-autocomplete .link,
.in-every-tool-at-every-step .link {
  margin-top: 30px;
}

main .agents-turn-ideas-into-code a,
main .magically-accurate-autocomplete a,
main .in-every-tool-at-every-step a {
  text-decoration: none;
  color: var(--link-text);
}

main .agents-turn-ideas-into-code img,
main .magically-accurate-autocomplete img,
main .in-every-tool-at-every-step img {
  border-radius: 6px;
}

main .agents-turn-ideas-into-code div .link a:hover,
main .magically-accurate-autocomplete div .link a:hover,
main .in-every-tool-at-every-step div .link a:hover {
  color: var(--link-text-hover);
}

main .the-new-way-to-build-software h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  font-size: 30px;
}

main .the-new-way-to-build-software {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

main .the-new-way-to-build-software .all-detials {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 17px;
}

main .the-new-way-to-build-software .all-detials .build-software {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--section-background-color);
  padding: 20px;
  border-radius: 7px;
}

main .the-new-way-to-build-software .build-software p {
  font-size: 17px;
  width: 100%;
}

main .the-new-way-to-build-software .build-software .name {
  color: #3f3b3b;
}

main .the-new-way-to-build-software .all-detials .build-software .detials {
  display: flex;
  align-items: center;
  gap: 10px;
}

main .the-new-way-to-build-software .all-detials .build-software img {
  width: 30px;
  height: 30px;
}

main
  .the-new-way-to-build-software
  .all-detials
  .build-software
  .detials
  .name-location
  .name {
  font-size: 15px;
  color: #302f2f;
}

main
  .the-new-way-to-build-software
  .all-detials
  .build-software
  .detials
  .location {
  font-size: 12px;
  color: #7f7979;
}

main .Stay-on-the-frontier {
  display: flex;
  gap: 10px;
}

main .Stay-on-the-frontier div {
  background-color: var(--section-background-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  padding: 10px;
}

main .Stay-on-the-frontier div .items {
  width: 20vw;
  display: flex;
  align-items: start;
}

main .Stay-on-the-frontier div h3 {
  font-size: 16px;
  font-weight: 500;
}

main .Stay-on-the-frontier div p {
  width: 100%;
  font-size: 16px;
  color: #7f7979;
}

main .Stay-on-the-frontier div a {
  text-decoration: none;
  color: var(--link-text);
}

main .Stay-on-the-frontier div a:hover{
   color: var(--link-text-hover);
}

main .Stay-on-the-frontier div .image {
  width: 100%;
  align-items: center;
}

main .Stay-on-the-frontier div img {
  height: 50vh;
  width: fit-content;
}

main .changelog {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

main .changelog h2 {
  font-size: 22px;
  font-weight: 400;
}

main .changelog a {
  text-decoration: none;
  color: var(--link-text);
}

main .changelog a:hover {
  color: var(--link-text-hover);
}

main .changelog .changelog-detials {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

main .changelog .changelog-detials div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e1dede;
  padding: 25px;
  gap: 15px;
  border-radius: 4px;
}

main .changelog .changelog-detials div .date span {
  border: 1px solid #9d9b9b;
  padding: 2px 10px;
  border-radius: 20px;
}

main .changelog .changelog-detials div .date {
  color: #5e5c5c;
}

main .changelog .changelog-detials div p {
  width: 100%;
  font-size: 15px;
  color: #302f2f;
}

main .team-area {
  width: 100%;
  background-color: var(--section-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

main .team-area div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 60px;
}

main .team-area div h3 {
  font-size: 20px;
  font-weight: 500;
}

main .team-area div p {
  font-size: 16px;
}

main .team-area div a {
  text-decoration: none;
  color: var(--link-text);
}

main .team-area div a:hover {
  color: var(--link-text-hover);
}

main .team-area img {
  border-radius: 5px;
}

main .recent-highlights {
  background-color: var(--section-background-color);
}

.recent-highlights {
  background-color: var(--section-background-color);
  padding: 80px;
  display: flex;
  justify-content: space-around;
  margin-top: 90px;
  margin-bottom: 100px;
}

.recent-highlights .all-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.recent-highlights .all-section div {
  background-color: #ebeae5;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 39vw;
}

.recent-highlights .all-section div h3,
.recent-highlights .all-section div p {
  font-size: 16px;
  font-weight: 400;
}

.recent-highlights a {
  text-decoration: none;
  color: var(--link-text);
}

.recent-highlights a:hover {
  color: var(--link-text-hover);
}

.try-cursor-now {
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.try-cursor-now h2 {
  font-size: 50px;
  margin-bottom: 20px;
  color: #26251e;
}

.try-cursor-now button {
  background-color: #26251e;
  padding: 10px 25px;
  color: #f7f7f4;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.try-cursor-now button:hover {
  background-color: #484745;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 100px;
}

footer div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer div h3 {
  font-size: 16px;
  font-weight: 400;
  color: #9d9b9b;
}

footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
